<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOTORI</title>
    <link rel="icon" href="/static/front_image/dotoree.png" image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/front/front.css">
    <link rel="stylesheet" href="/static/css/board/board.css">
    <script src="/static/js/board/reply_view.js"></script>
    <script src="/static/js/top.js"></script>
    <script>
        var thema = "<%= thema %>";  // EJS에서 전달한 thema 값을 JavaScript 변수로 설정
        console.log(thema);
        window.onload = async () => {
            const num = document.getElementById("number");
            console.log("number :", num);
            console.log("num.textContent : ", num.textContent); // textContent를 사용하여 태그를 제외한 텍스트 값만 가져오기
            await init(num.textContent.trim()); // .trim()을 사용하여 공백 제거
            applyThema(thema);
        }
    </script>
</head>

<body class="front_body">
    <%-include('../include/header.ejs')%>
<section>
    <body><%- include ("./reply_form") %>
            <div id="main">
                <div id="board_top">
                    <div id="number">
                        <div><%= data.WRITE_NO %></div>
                    </div>
                    <div id="board_title">
                        <div><%= data.TITLE %></div>
                    </div>
                    <div id="board_name">
                        <div><%= data.ID %></div>
                    </div>
                    <div id="board_info">
                        <div id="board_date">
                            
                            <div><%= data.SAVE_DATE %></div>
                        </div>
                        <div id="board_count">
                            
                            <div>조회 <%= data.HIT %></div>
                        </div>
                    </div>
                </div>
                
                <div id="board_content">
                    <div>
                        
                        
                        <div colspan="2">
                            <% if(data.UPLOAD_FILE === "nan" ){%>
                                <b>이미지가 없습니다</b>
                            <%}else{%>
                                <img id="board_img" src="/board/download/<%= data.CHANGE_FILE %>"width="100px" height="100px">
                            <%}%>
                            <div id="board_content_data"><%= data.CONTENT %></div>
                        </div>
                    </div>
                </div>
                
                <div id="board_edit">
                        <div colspan="4"align="center" id="board_button">
                            <% if( id === data.ID) {%>
                                <input type="button" onclick="location.href='/board/modify_form/<%= data.WRITE_NO %>'" value="수정하기">
                                <input type="button" onclick="location.href='/board/delete/<%= data.WRITE_NO %>/<%= data.CHANGE_FILE_NAME %>'" value="삭제하기">
                                <% } %>
                                <input type="button" onclick="reply_form()" value="답글달기">
                                <input type="button" onclick="history.back()" value="돌아가기">
                        </div>
                        <div id="board_comment">
                            <div colspan="4" id="content"></div>
                        </div>
                </div>
                
                    
                
            </div>
        </div>
    </body>
</section>

        <%- include('../include/footer.ejs')%>

</body>

</html>