<table class="board_main">
    <tr class="board_menu">
        <td class="board_num">No</td>
        <td class="board_title">제목</td>
        <td class="board_id">아이디</td>
        <td class="board_name">이름</td>
        <td class="board_date">날짜</td>
        <td class="board_hit">조회수</td>
    </tr>
    <% if (list.length == 0) { %>
        <tr>
            <th colspan="6">등록된 글이 없습니다.</th>
        </tr>
    <% } else { 
        list.forEach(d => { %>
            <tr class="board_list">
                <td class="board_list_num"><%= d.WRITE_NO %></td>
                <td>
                    <a class="board_list_title" href="/board/data/<%= d.WRITE_NO %>">
                        <%= d.TITLE %>
                    </a>
                </td>
                <td class="board_list_id"><%= d.ID %></td>
                <td class="board_list_name"><%= d.NAME %></td>
                <td class="board_list_date"><%= d.SAVE_DATE %></td>
                <td class="board_list_hit"><%= d.HIT %></td>
            </tr>
        <% }) 
    } %>
</table>

<!-- board_page 테이블을 board_main 테이블 밖으로 분리 -->
<table class="board_page">
    <tr>
        <td class="board_button">
            <% if (start <= 1) { %>
                <!-- <button disabled>이전</button> | -->
            <% } else { %>
                <button type="button" onclick="loadPage('<%= start - 1 %>')">이전</button> |
            <% }
            for (let i = 1; i <= page; i++) { %>
                <a href="javascript:void(0);" onclick="loadPage('<%= i %>')"><%= i %></a>
            <% }
            if (start < page) { %>
                | <button type="button" onclick="loadPage('<%= start + 1 %>')">다음</button>
            <% } else { %>
                <!-- | <button disabled>다음</button> -->
            <% } %>
        </td>
        <td class="board_new" ><a href="/board/write_form">글쓰기</a></td>
    </tr>
</table>

