<<<<<<< HEAD
<link rel="stylesheet" href="/static/css/board/board.css">
<table>
    <h1>도토리 게시판</h1>
    <hr>
    <tr>
        <td>글 번호</td>
        <td>제목</td>
        <td>아이디</td>
        <td>날짜</td>
        <td>조회수</td>
    </tr>
    <% if( list.length==0){ %>
        <tr>
            <th colspan="5">등록된 글이 없습니다.</th>
        </tr>
        <% }else{ list.forEach(d=>{ %>
            <tr>
                <td>
                    <%= d.WRITE_NO %>
                </td>
                <td>
                    <a href="/board/data/<%= d.WRITE_NO %>">
                        <%= d.TITLE %>
                    </a>
                </td>
                <td>
                    <%= d.CONTENT %>
                </td>
                <td>
                    <%= d.ID %>
                </td>
                <td>
                    <%= d.SAVE_DATE %>
                </td>
                <td>
                    <%= d.HIT %>
                </td>
                <td>
                    <%= d.UPLOAD_FILE %>
                </td>
            </tr>
            <% }) } %>
                <tr>
                    <td colspan="5" align="right">
                        <% if( start <=1 ){ %>
                            <button disabled>이전</button>
                            <% }else{ %>
                                <button type="button"
                                    onclick="location.href='/board/list?start=<%= start - 1 %>'">이전</button>
                                <% }for(let i=1 ; i <=page ; i++ ){ %>
                                    <a href="/board/list?start=<%= i %>">
                                        <%= i %>
                                    </a>
                                    <% }if( start < page ){ %>
                                        <button type="button"
                                            onclick="location.href='/board/list?start=<%= start + 1 %>'">다음</button>
                                        <% }else{ %> <button disabled>다음</button>
                                            <% } %>
                                                <%= start %> / <%= page %>
                                                        <div class="hidden-links">
                                                            <a href="/board//hot_issue">핫 이슈</a> |
                                                            <a href="/board//restaurant">맛집&카페</a> |
                                                            <a href="/board//Problem_Solving">고민해결</a> |
                                                            <a href="/board//gifs">짤 모음</a>
                                                            <a href="/board//music_recommendations">노래 추천</a>
                                                        </div>

                                                        <a href="/board/write_form">글 작성</a>

                    </td>
                </tr>
</table>
=======

<table>
    <tr>
        <td>글 번호</td> 
        <td>제목</td> 
        <td>아이디</td> 
        <td>날짜</td> 
        <td>조회수</td> 
    </tr>
    <% if( list.length == 0){ %>
        <tr>
            <th colspan="5">등록된 글이 없습니다.</th>
        </tr>
        <% }else{
        list.forEach(d =>{ %>
        <tr>
            <td><%= d.WRITE_NO %></td>
            <td>
                <a href="/board/data/<%= d.WRITE_NO %>">
                    <%= d.TITLE %>
                </a>
            </td>
            <td><%= d.CONTENT %></td>
            <td><%= d.ID %></td>
            <td><%= d.NAME %></td>
            <td><%= d.SAVE_DATE %></td>
            <td><%= d.HIT %></td>
            <td><%= d.UPLOAD_FILE %></td>
        </tr>
        <% })
    } %>
        <tr>
            <td colspan="5" align="right">
            <% if( start <= 1 ){ %>
                <button disabled>이전</button>
            <% }else{ %>
                <button type="button" onclick="location.href='/board/list?start=<%= start - 1 %>'">이전</button>
            <% }for(let i = 1 ; i <= page ; i++ ){ %>
            <a href="/board/list?start=<%= i %>"><%= i %></a>
            <% }if( start < page ){ %>
                <button type="button" onclick="location.href='/board/list?start=<%= start + 1 %>'">다음</button>
            <% }else{ %> <button disabled>다음</button> <% } %>
            <%= start %> / <%= page %>
            <a href="/board/write_form">글 작성</a>
            
        </td> 
    </tr> 
</table>
>>>>>>> cf5dfad7e7448caa6adc68b11df907ff0ee73daf
