<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOTORI</title>
    <link rel="icon" href="/static/front_image/dotoree.png" image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/front/front.css">
    <link rel="stylesheet" href="/static/css/board/board_list.css">
    <link rel="stylesheet" href="/static/css/board/write_from.css">
    <script src="/static/js/top.js"></script>
    <script>
        var thema = "<%= thema %>";  // EJS에서 전달한 thema 값을 JavaScript 변수로 설정
        console.log(thema)
        window.onload = async () => {
            applyThema(thema);
        }
    </script>
</head>

<body class="front_body">

    <%-include('../include/header.ejs')%>


    <section>
        <body>
            <script src="/static/js/board/img_view.js"></script>
            <div id="write_from">
                <form action="/board/modify" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="write_no" value="<%= data.WRITE_NO %>">
                    <input type="hidden" name="change_file" value="<%= data.CHANGE_FILE %>">
                    <input type="hidden" name="upload_file" value="<%= data.UPLOAD_FILE %>">
                    
                    <input id="write_title" type="text" name="title" value="<%= data.TITLE %>">
                    <textarea id="write_content" name="content" rows="12" cols="50"><%= data.CONTENT %></textarea>
                    <hr>
                    <div id="write_img">
                        <b>이미지 첨부파일</b>
                    <input type="file" name="image_file_name" onchange="readURL(this)">
                    <img  width="200px" height="100px" id="preview" src="/board/download/<%= data.CHANGE_FILE %>"></div>
                        <hr>
                    <div id="write_button">
                        <input type="submit" value="수정하기">
                        <input type="button" onclick="history.back()" value="돌아가기">
                    </div>
                </form>
            </div>
        </body>
    </section>

        <%- include('../include/footer.ejs')%>


</body>

</html>

