<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY PAGE</title>
    <link rel="icon" href="/static/front_image/dotoree.png" image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Nanum+Gothic&family=Russo+One&display=swap"rel="stylesheet">
    <link rel="stylesheet" href="/static/css/front/front.css">
    <link rel="stylesheet" href="/static/css/mypage/mypage_main.css">
    <script src="/static/js/top.js"></script> <!-- 사용자thema설정을 위한 js파일 -->
    <script>
        const thema = "<%= thema %>" //사용자 thema변수 저장
        window.onload = () => {
            console.log("mypage : ", thema)
            applyThema(thema) //사용자 thema 설정
        }
    </script>
</head>
<body class="front_body">

    <%- include('../include/header.ejs')%>
    
        <section>
            <div class="mypage">
                <div class="mypage_myid">
                    <p>안녕하세요, <%= user && user.NAME ? user.NAME : '' %>님!</p>
                    
                </div>
                <div class="mypropile">
                    <p class="mypage_title">내 프로필 확인하기</p>
                    <img src="<%= '/uploads/' + user.PICTURE %>" alt="Profile Picture" width="150">
                    <p class="mypage_msg"><%= user.MSG %></p>
                    <p><a href="/mypage/profile">프로필 수정</a></p>
                    <hr>
                    <div class="myinfo">
                        <li><a href="/mypage/edit">내정보 수정</a></li>
                        <li><a href="/mypage/delete">회원탈퇴</a></li><!-- 나호영 친구 추가 기능 알람 목록 및 친구 목록 확인 경로 추가++소담:메인nav 프로필로 위치 이동했습니다 -->
                    </div>
                </div>
                
            </div>
</section>

<%- include('../include/footer.ejs')%>

</body>

</html>