<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY PAGE</title>
    <link rel="icon" href="/static/front_image/dotoree.png" image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Nanum+Gothic&family=Russo+One&display=swap"rel="stylesheet">
    <link rel="stylesheet" href="/static/css/front/front.css">
    <link rel="stylesheet" href="/static/css/mypage/mypage_main.css">
    <script src="/static/js/top.js"></script> <!-- 사용자thema설정을 위한 js파일 -->
    <script>

    </script>
</head>
<body class="front_body">

    <%- include('../include/header.ejs')%>
    
        <section>
            <div class="mypage">
                <div class="mypage_myid">
                    <p>안녕하세요, <%= user && user.NAME ? user.NAME : '' %>님!</p>
                    <p>내 아이디: <%= user && user.ID ? user.ID : '' %></p>
                    <p>내 이메일: <%= user && user.EMAIL ? user.EMAIL : '' %></p>
                    
                </div>
                <div class="mypropile">
                    <p class="mypage_title">내 프로필 확인하기</p>
                    <img src="<%= user.picture ? '/uploads/' + user.picture : '/default-profile.png' %>" alt="Profile Picture" width="150">
                    <p class="mypage_msg"><%= user.msg ? user.msg : '상태 메시지가 없습니다.' %></p>
                    <p><a href="/mypage/profile">프로필 수정</a></p>
                </div>
                
                <div class="myinfo">
                    <p class="mypage_title">내 정보 수정하기</p>
                    <ul>
                        <li><a href="/mypage/edit">내정보 수정</a></li>
                        <li><a href="/mypage/delete">회원탈퇴</a></li>
                        <!-- 나호영 친구 추가 기능 알람 목록 및 친구 목록 확인 경로 추가 -->
                        <li><a href="/friends/alram">알람 확인</a></li>
                        <li><a href="/friends/friendsview">친구 확인</a></li>
                    </ul>
                </div>
                
                <div>
                    <form action="/mypage/logout" method="POST">
                        <button class="mypage_button" type="submit">로그아웃</button>
                    </form>
                </div>
            </div>
</section>

<%- include('../include/footer.ejs')%>

</body>

</html>