<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOTORI</title>
    <link rel="icon" href="/static/front_image/dotoree.png"image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Nanum+Gothic&family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/front/front.css">
    <link rel="stylesheet" type="text/css" href="/static/css/product/list.css"> 
    <script src="/static/js/top.js"></script>
    <script>
        // const setThema = thema => document.documentElement.className = thema
        const overBtn = (t) => {
            document.getElementById(t.id+"_btn").style.visibility = "visible"
        }
        const outBtn = (t) => {
            document.getElementById(t.id+"_btn").style.visibility = "hidden"
        }
        const thema = "<%= uThema %>";
        window.onload = async () => {
            await applyThema(thema)
        }
        const setThema = sampleThema => document.documentElement.className = sampleThema
        const apply = async (aThema, aThema_no) => {
            applyThema(aThema)
            // await saveThema(aThema_no)
            fetch("/product/saveThema?thema="+aThema_no)
        }
     </script>
</head>
<body  class="front_body">

    <%-include('../include/header.ejs')%>

    <section>
        <table id="list">
            <% let i = 0 %>
            <% let h = 0 %>
            <% list.forEach(p => { %>
            <%-include('./choice.ejs')%>

                <% if(i==0){ %>
                <tr>
                <% } %>
                <td class="index" id="<%= p.PRODUCT_NO %>" onmouseover="overBtn(this)" onmouseout="outBtn(this)">
                    <img class="sample" src="/static/thema/<%= p.PRODUCT %>.png" name="thema" onclick="setThema('<%= p.PRODUCT %>')" ><br>
                    <%= p.PRODUCT %><br>
                    <img class="dotori" src="/static/front_image/dotoree.png">
                    <% if(p.PRICE == 0){ %>
                        무료<br>
                    <% }else{ %>
                    <%= p.PRICE %><br>
                    <% } %>
                    <% if(uThema == p.PRODUCT ) { %>
                        <button disabled id="<%= p.PRODUCT_NO %>_btn">
                        적용중
                        </button>
                        <% if(uThema == hThema[h]){h++} %>
                    <% } else if(hThema[h] == p.PRODUCT) { %>
                        <button type="button" id="<%= p.PRODUCT_NO %>_btn" class="notButton" onclick="apply('<%= p.PRODUCT %>', '<%= p.PRODUCT_NO %>')">
                        적용하기
                        </button>
                        <% h++ %>
                    <% }else{ %>
                        <button type="button" id="<%= p.PRODUCT_NO %>_btn" onclick="choice()">
                        구매하기
                        </button>
                    <% }%>
                </td>
                <% if(i < 2){ i++ }else{ i=0 %>
                </tr>
                <% } %>
            <% }) %>
        </table>
    </section>

    <%-include('../include/footer.ejs')%>
</body>
</html>