<table class="board_main">
    <tr class="board_menu">
        <td class="board_num">No</td>
        <td class="board_title">제목</td>
        <td class="board_id">아이디</td>
        <td class="board_name">이름</td>
        <td class="board_date">날짜</td>
        <td class="board_hit">조회수</td>
    </tr>
    <% list.forEach(d=> { %>
        <tr>
            <td>
                <%= d.ID %>
            </td>
            <td>
                <%= d.NAME %>
            </td>
            <td>
                <%= d.EMAIL %>
            </td>
            <td>
                <%= d.ADDR %>
            </td>
            <td>
                <%= d.PHONE %>
            </td>
            <td>
                <!-- 탈퇴 링크를 <a> 태그로 추가 -->
                <a href="javascript:void(0);" onclick="deleteMember('<%= d.ID %>');">탈퇴</a>
            </td>
        </tr>
        <% }) %>
</table>

<!-- board_page 테이블을 board_main 테이블 밖으로 분리 -->
<table class="board_page">
    <tr>
        <td class="board_button">
            <% if (start <=1) { %>
                <!-- <button disabled>이전</button> | -->
                <% } else { %>
                    <button type="button" onclick="loadPage('<%= start - 1 %>')">이전</button> |
                    <% } for (let i=1; i <=page; i++) { %>
                        <a href="javascript:void(0);" onclick="loadPage('<%= i %>')">
                            <%= i %>
                        </a>
                        <% } if (start < page) { %>
                            | <button type="button" onclick="loadPage('<%= start + 1 %>')">다음</button>
                            <% } else { %>
                                <!-- | <button disabled>다음</button> -->
                                <% } %>
        </td>
        <td class="board_new" ></td>
    </tr>
</table>