<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/top.js"></script> <!-- 사용자thema설정을 위한 js파일 -->
    <script>
        const thema = "<%= thema %>" //사용자 thema변수 저장
        window.onload = () => {
            applyThema(thema) //사용자 thema 설정
        }
    </script>
</head>

<body>
    <div style="width: 730px; height: 600px; text-align: center; color: var(--text-color);">
        <table align="center" width="730px" height="500px" border="1"
            style="text-align: center; margin: 0px auto; border-color: var(--header-color); border-collapse: collapse; border-radius: 30px; overflow: hidden;">
            <tr style="background: var(--header-color);">
                <th>번호</th>
                <th>보낸 사람</th>
                <th>받는 사람</th>
                <th>제목</th>
                <th>내용</th>
                <th>날짜</th>
            </tr>
            <% result.forEach (data=>{ %>
                <tr>
                    <td>
                        <a href="/friends/view?num=<%= data.NUM %>">
                            <%= data.NUM %>
                        </a>
                    </td>
                    <td>
                        <%= data.SENDER %>
                    </td>
                    <td>
                        <%= data.RECEIVER %>
                    </td>
                    <td>
                        <%= data.SUBJECT %>
                    </td>
                    <td>
                        <%= data.CONTENT %>
                    </td>
                    <td>
                        <%= data.SAVE_DATE %>
                    </td>
                </tr>
                <% }) %>
                    <% if(result.length==0) { %>
                        <tr>
                            <td colspan="6" align="center"><b>등록된 글 없음</b></td>
                        </tr>
                        <% } else { %>
                            <tr>
                                <td colspan="6">
                                    <% if(start> 1){ %>
                                        <button onclick="location.href='/friends/alram?start=<%= start-1 %>'"
                                            style="cursor: pointer;">이전</button>
                                        <% } %>
                                            <% for (let i=1 ; i <=page ; i++) { %>
                                                <a href="/friends/alram?start=<%= i %>">
                                                    <%= i %>
                                                </a>
                                                <% } %>
                                                    <% if ( start < page ){ %>
                                                        <button
                                                            onclick="location.href='/friends/alram?start=<%= start + 1 %>'"
                                                            style="cursor: pointer;">다음</button>
                                                        <% } %>
                                </td>
                            </tr>
                            <% } %>
        </table>
        <button onclick="location.href='/main'"
            style="background: var(--header-color); font-size: 25px; font-weight: bold; cursor: pointer; margin-top: 30px;">메인
            페이지</button>
    </div>

</body>

</html>