<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/top.js"></script> <!-- 사용자thema설정을 위한 js파일 -->
    <script>
        const thema = "<%= thema %>" //사용자 thema변수 저장
        window.onload = () => {
            applyThema(thema) //사용자 thema 설정
        }
    </script>
</head>

<body>
    <div style="width: 730px; height: 600px; background: #fff2d6; text-align: center;">
        <table align="center" width="730px" height="500px" border="1"
            style="text-align: center; margin: 0px auto; border-color: gold;">
            <tr>
                <th>친구목록</th>
                <th>친구 삭제</th>
            </tr>
            <% result.forEach (data=>{ %>
                <% if(name==data.MEMBER_ID) { %>
                    <tr>
                        <td>
                            <%= data.FRIEND_ID %>
                        </td>
                        <td>
                            <form action="/friends/friendsdel" method="post">
                                <input type="hidden" name="id" value="<%= data.FRIEND_ID %>">
                                <button type="submit"
                                    style="cursor: pointer; border: none; background: none; font-size: 25px; font-weight: bold;">친구
                                    삭제</button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
                        <% if(name==data.FRIEND_ID) { %>
                            <tr>
                                <td>
                                    <%= data.MEMBER_ID %>
                                </td>
                                <td>
                                    <form action="/friends/friendsdel" method="post">
                                        <input type="hidden" name="id" value="<%= data.MEMBER_ID %>">
                                        <button type="submit"
                                            style="cursor: pointer; border: none; background: none; font-size: 25px; font-weight: bold;">친구
                                            삭제</button>
                                    </form>
                                </td>
                            </tr>
                            <% } %>
                                <% }) %>
                                    <% if(result.length==0) { %>
                                        <tr>
                                            <td colspan="2" align="center"><b>친구 목록 없음</b></td>
                                        </tr>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="2">
                                                    <% if(start> 1){ %>
                                                        <button
                                                            onclick="location.href='/friends/friendsview?start=<%= start-1 %>'"
                                                            style="cursor: pointer;">이전</button>
                                                        <% } %>
                                                            <% for (let i=1 ; i <=page ; i++) { %>
                                                                <a href="/friends/friendsview?start=<%= i %>">
                                                                    <%= i %>
                                                                </a>
                                                                <% } %>
                                                                    <% if ( start < page ){ %>
                                                                        <button
                                                                            onclick="location.href='/friends/friendsview?start=<%= start + 1 %>'"
                                                                            style="cursor: pointer;">다음</button>
                                                                        <% } %>
                                                </td>
                                            </tr>
                                            <% } %>
        </table>
        <button onclick="location.href='/main'" style="color: gold; border: none; background: none; font-size: 25px; 
                    font-weight: bold; cursor: pointer; margin-top: 30px;">메인 페이지</button>
    </div>
</body>

</html>
</body>

</html>